<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Wildberries Parser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Парсер Wildberries</h1>
        <div class="pagination">
            {% if products.has_previous %}
                <a href="?{% for k,v in request.GET.items %}{% if k != 'page' %}{{k}}={{v}}&{% endif %}{% endfor %}page={{ products.previous_page_number }}">← Назад</a>
            {% else %}
                <span class="disabled">← Назад</span>
            {% endif %}
            <span>Страница {{ products.number }} из {{ products.paginator.num_pages }}</span>
            {% if products.has_next %}
                <a href="?{% for k,v in request.GET.items %}{% if k != 'page' %}{{k}}={{v}}&{% endif %}{% endfor %}page={{ products.next_page_number }}">Вперёд →</a>
            {% else %}
                <span class="disabled">Вперёд →</span>
            {% endif %}
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>

                    <th>
                        <a href="?{% for k,v in request.GET.items %}{% if k != 'sort' %}{{k}}={{v}}&{% endif %}{% endfor %}sort={% if sort == 'price' %}-price{% else %}price{% endif %}">
                            Цена
                            {% if sort == 'price' %}▲{% elif sort == '-price' %}▼{% endif %}
                        </a>
                    </th>


                    <th>
                        <a href="?{% for k,v in request.GET.items %}{% if k != 'sort' %}{{k}}={{v}}&{% endif %}{% endfor %}sort={% if sort == 'price_original' %}-price_original{% else %}price_original{% endif %}">
                            Цена без скидки
                            {% if sort == 'price_original' %}▲{% elif sort == '-price_original' %}▼{% endif %}
                        </a>
                    </th>
                    
                    <th>
                        <a href="?{% for k,v in request.GET.items %}{% if k != 'sort' %}{{k}}={{v}}&{% endif %}{% endfor %}sort={% if sort == 'rating' %}-rating{% else %}rating{% endif %}">
                            Рейтинг
                            {% if sort == 'rating' %}▲{% elif sort == '-rating' %}▼{% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="?{% for k,v in request.GET.items %}{% if k != 'sort' %}{{k}}={{v}}&{% endif %}{% endfor %}sort={% if sort == 'review_amount' %}-review_amount{% else %}review_amount{% endif %}">
                            Отзывы
                            {% if sort == 'review_amount' %}▲{% elif sort == '-review_amount' %}▼{% endif %}
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.price_original }}</td>
                    <td>{{ product.rating }}</td>
                    <td>{{ product.review_amount }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" style="text-align:center;">Нет товаров</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <!-- Форма закреплена в правом нижнем углу -->
    <form class="form-top" action="/api/products/" method="post">
        {% csrf_token %}
        <label for="category_name">Категория товаров:</label>
        <input
            type="text"
            id="category_name"
            name="category_name"
            placeholder="например, паяльник"
            value="{{ category|default_if_none:'' }}"
        />

        <div class="price_min">
            <label for="price_min_range">Мин. цена (в рублях): <span id="price_min_value">{{ price_min|default_if_none:'0' }}</span></label><br>
            <input 
                type="range" 
                min="0" 
                max="50000" 
                class="slider"
                id="price_min_range" 
                value="{{ price_min|default_if_none:'0' }}" 
                step="10"
            >
            <!-- Скрытое поле для передачи значения -->
            <input type="hidden" id="price_min" name="price_min" value="{{ price_min|default_if_none:'0' }}">
        </div>

        <div class="price_max">
            <label for="price_max_range">Макс. цена (в рублях): <span id="price_max_value">{{ price_max|default_if_none:'0' }}</span></label><br>
            <input 
                type="range" 
                min="0" 
                max="50000"
                class="slider" 
                id="price_max_range" 
                value="{{ price_max|default_if_none:'0' }}" 
                step="10"
            >
            <!-- Скрытое поле для передачи значения -->
            <input type="hidden" id="price_max" name="price_max" value="{{ price_max|default_if_none:'0' }}">
        </div>

        <script>
            const priceMinRange = document.getElementById('price_min_range');
            const priceMinValue = document.getElementById('price_min_value');
            const priceMinInput = document.getElementById('price_min');
            
            priceMinRange.addEventListener('input', function() {
                priceMinValue.textContent = Number(this.value).toLocaleString('ru-RU') + ' ₽';
                priceMinInput.value = this.value;
            });

            const priceMaxRange = document.getElementById('price_max_range');
            const priceMaxValue = document.getElementById('price_max_value');
            const priceMaxInput = document.getElementById('price_max');
            
            priceMaxRange.addEventListener('input', function() {
                priceMaxValue.textContent = Number(this.value).toLocaleString('ru-RU') + ' ₽';
                priceMaxInput.value = this.value;
            });
        </script>


        <label for="rating">Мин. рейтинг:</label>
        <input type="number" id="rating" name="rating" min="0" max="5" step="0.5" value="{{ rating|default_if_none:'' }}" class="input-narrow" />

        <label for="review">Мин. кол-во отзывов:</label>
        <input type="number" id="review" name="review" min="0" value="{{ review|default_if_none:'' }}" class="input-narrow" />

        <input type="submit" value="Начать парсинг" />
    </form>

    <div class="chart-container" style="margin-top: 40px;">
        <br>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <canvas id="discountChart" width="400" height="200" style='background-color: white'></canvas>
    <script>
        const ctx = document.getElementById('discountChart').getContext('2d');
        const discountChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ labels|safe }}, // рейтинги
                datasets: [{
                    label: 'Размер скидки (руб)',
                    data: {{ discounts|safe }}, // скидки
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2,
                    fill: false,
                    tension: 0.1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: { display: true },
                    title: { display: true, text: 'Скидка vs Рейтинг' }
                },
                scales: {
                    x: {
                        title: { display: true, text: 'Рейтинг' }
                    },
                    y: {
                        title: { display: true, text: 'Скидка (руб)' }
                    }
                }
            }
        });
    </script>


    <div class="br_grafs" style="margin-top: 40px;">
        <br>
    </div>

    <canvas id="myChart" style="width:100%;max-width:1000px; background-color: white"></canvas>

    <script>
        var xValues = {{ prices_labels|safe }}; // Цены товаров
        var yValues = {{ prices_values|safe }}; // Количество товаров по ценовым категориям

        // Генерация случайных цветов
        var barColors = xValues.map(() => {
            const r = Math.floor(Math.random() * 256);
            const g = Math.floor(Math.random() * 256);
            const b = Math.floor(Math.random() * 256);
            return `rgb(${r}, ${g}, ${b})`;
        });

        const ctx2 = document.getElementById("myChart").getContext("2d");
        new Chart(ctx2, {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "Цены vs кол-во товаров"
                    }
                }
            }
        });
    </script>


</body>
</html>